doctype
html
  head
    title Table - home
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js")
    script(src="/js/jquery-impromptu.min.js")
    link(rel="stylesheet" href="/css/jquery-impromptu.min.css")
    script(src='/js/index.js')
  body
    a#newt(href='/table.html') Nuovo foglio di calcolo
    br
    br
    a#listt(href='#') Lista fogli di calcolo
    div#listt-container
    br
    br
    a#upload(href='#') Carica xlsx


